{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Bienvenue sur <span class="inner-green">votre</span> cantine en ligne, <br> personnalisée pour <span class="inner-green">vous</span></h1>
            </div>
        </div>

        <div id="app"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('vue') }}
{% endblock %}