<footer class="footer mt-5 mb-5 text-center">
    <div class="container">
    <span class="font-weight-bold">© My Cantine App, 2019 - {{ 'now' | date('Y', 'Europe/Paris')}}</span>
    </div>
</footer>