<h1>Bonjour !</h1>

<p>
    Pour modifier votre mot de passe, veuillez s'il vous plaît, cliquer
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a>
    Attention, ce lien sera désactivé dans {{ tokenLifetime|date('g') }} heure(s) !
</p>

<p>
    Coredialement ! YoungFood Application ^^
</p>