form {
  font-family: Gilroy-SemiBold, serif;

  label {
    color: $label-color;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 0 !important;
  }

  textarea{
    resize: none;
  }

  .btn{
    width: 225px;
    height: 50px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  input[type=text], input[type=email], input[type=password], select, textarea {
    border: 2px solid $main-grey;
    border-radius: 3px;
    width: 350px;
    height: 44px;

    &:focus {
      border-color: $main-green;
      -webkit-appearance: none;
      box-shadow: none !important;
    }
  }
}