$main-green: #46B04B;

$main-grey: #DDDDDD;
$card-main-grey: #E2E2E2;
$card-secondary-grey: #C4C4C4;
$grey-light: #ededed;
$label-color: #707070;
$navbar-grey: #F2F2F2;
$grey-bg-dashboard: #f8f8f8;

$pure-white: #FFFFFF;

$label-error-color: #E74C3C;

$main-red: #C82333;