@import "variables";
@import "form";

@font-face {
  font-family: Gilroy-SemiBold;
  src: url("../fonts/Gilroy-SemiBold.woff");
}

body {
  font-family: Gilroy-SemiBold, serif !important;

  h1 {
    font-size: 36px;
    color: black;
  }

  .inner-green {
    color: $main-green;
  }
}

@import "~bootstrap/scss/bootstrap";