@import "variables";
@import "form";

@font-face {
  font-family: Gilroy-SemiBold;
  src: url("../fonts/Gilroy-SemiBold.woff");
}

body {
  font-family: Gilroy-SemiBold, serif !important;

  h1 {
    font-size: 36px;
    color: black;
  }

  .inner-green {
    color: $main-green;
  }

  .nav-title {
    position: absolute;
    z-index: 1200;
    color: $label-color;
    top: 50%;
    text-transform: uppercase;
    font-size: 35px;
    transition: 0.5s !important;

    &:hover {
      text-decoration: none;
      color: $main-green;
    }
  }

  .left {
    left: 5%;
  }

  .right {
    right: 5%;
  }
}

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";