#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #46B04B;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

  &:hover {
    background-color: #555;
  }
}