@import "variables";

@font-face {
  font-family: Gilroy-SemiBold;
  src: url("../fonts/Gilroy-SemiBold.woff");
}

body{
  font-family: Gilroy-SemiBold, serif;
  background: url('../img/BG_CONNEXION.svg') no-repeat bottom;
  
  form{
    button{
      width: 225px;
      height: 50px;
    }
  }

  a {
    color: $main-green !important;
  }
}
