@import "variables";
@import "form";

// Date picker se met automatiquement en readonly
.form-control:disabled, .form-control[readonly] {
  background-color: $pure-white !important;
}

.vdp-datepicker__calendar .cell.highlighted {
  background: lighten($main-green, 20%) !important;
}

.vdp-datepicker__calendar .cell:hover {
  border: 1px solid darken($main-green, 10%) !important;
}

.vdp-datepicker__calendar .cell.selected {
  background: $main-green !important;
}

.clickable-date {
  height: 50px;
  line-height: 48px;
  border-radius: 3px;
  border: 2px solid $main-grey;
  cursor: pointer;

  &:hover {
    border: 2px solid $main-green;
  }
}

.child-card {
  border: 2px solid $main-grey;
  border-radius: 2px;

  &:hover {
    border: 2px solid $main-green;
    border-radius: 2px;
    cursor: pointer;
  }
}

.selected {
  border: 2px solid $main-green;
  border-radius: 2px;
}