@import "variables";

.food-card {
  .img-thumb {
    position: relative;

    img {
      border-radius: 15px;
      min-width: 100%;
      height: 190px;
      cursor: pointer;
      display: inline-block;
    }

    .selected {
      border: 3px solid $main-green;
      border-radius: 15px;
    }
  }

  span {
    position: absolute;
    display: block;
    text-align: center;
    line-height: 39px;
    bottom: -20px;
    right: -20px;
    background: $main-green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: $pure-white;

    i {
      z-index: -1;
    }
  }
}

#progressBar {
  width: 1000px;
  margin: 3em auto;
  height: 100px;

  .progress_bar {
    counter-reset: step;

    li {
      list-style-type: none;
      float: left;
      width: 25%;
      position: relative;
      text-align: center;
      z-index: 1;

      &::before {
        content: counter(step);
        counter-increment: step;
        width: 50px;
        height: 50px;
        line-height: 45px;
        border: 3px solid $main-green;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $main-green;
        top: 25px;
        left: -50%;
        z-index: -1;
      }

      &:first-child {
        &::after {
          content: none;
        }
      }
    }
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}