@import "variables";

body {
  background: url("../img/reverse-bg.svg") top no-repeat;

  .nav-title {
    position: absolute;
    z-index: 1200;
    color: $label-color;
    top: 50%;

    &:hover {
      text-decoration: none;
    }
  }

  .left {
    left: 5%;
  }

  .right {
    right: 5%;
  }

  .id-card {
    background-color: $card-main-grey;
    width: 650px;
    max-height: 360px;
    border-radius: 30px 30px 30px 30px;

    .card-title {
      font-size: 24px;
    }

    .bottom-card {
      height: 115px;
      font-size: 24px;
      border-radius: 0 0 30px 30px;
      background: $card-secondary-grey;
      word-wrap: break-word;
      text-align: center;
    }
  }
}