{% extends 'base.html.twig' %}

{% block title %}MyCantine Dashboard Admin{% endblock %}

{% block body %}

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light flex-md-nowrap p-0">
    <div class="mt-3 mb-3">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0 font-weight-bold" href="#">MyCatine - Tableau de bord Admin</a>
    </div>
</nav>

<div class="d-flex justify-content-between mt-5 flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>

      </div>





{% endblock %}
