{% extends 'base.html.twig' %}

{% block title %}Youngfood | Ajouter un nouveau repas{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
    {{ encore_entry_link_tags('newBooking') }}
{% endblock %}

{% set centered_content = true %}

{% use 'partials/menu.html.twig' %}

{% block second_title %}
    Créer une <span class="inner-green">nouvelle reservation</span>
{% endblock %}

{% block main_content %}

    <div class="col-md-4">
        <div id="app-new-booking"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('notification') }}
    {{ encore_entry_script_tags('newBooking') }}
{% endblock %}

