{% extends 'base.html.twig' %}

{% block title %}Youngfood - Tableau de bord{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% use 'partials/menu.html.twig' %}

{% block second_title %}
    Au menu cette <span class="inner-green">semaine</span>
{% endblock %}

{% block main_content %}

    <div class="container-fluid">
        <div id="app-dashboard"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('notification') }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}