{% extends 'base.html.twig' %}

{% block title %}Error 403{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('error') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row vh-100 d-flex align-items-center justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <h1 class="mb-4">Oups...<br>Il semblerait que vous <span class="inner-green">n'ayez pas les droits</span> pour visiter cette page !</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('error') }}
{% endblock %}